.cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}

.cart__description {
  display: flex;
  align-items: center;
}

.cart__image {
  /* Responsive Image */
  width: 100%;
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}
