@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");

/* ********** GENERAL STYLES ********** */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Extra small <576px */
.container {
  width: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

/* Small ≥576px */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium ≥768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large ≥992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large ≥1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* ********** TOPNAV ********** */

.topnav {
  background-color: #000;
}

.topnav__content {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.topnav__title {
  margin: 0;
}

/* ********** PRODUCTS ********** */

.products {
  padding: 20px;
}

.product {
  border: 2px solid #d5d5d7;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product:hover {
  cursor: pointer;
}

.product__header {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product__image {
  /* Responsive Image */
  max-width: 100%;
  height: auto;
}

.product__body {
  text-align: center;
}

/* ********** SHOPPING ********** */

.shopping {
  padding: 20px;
}

.cart {
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart__header {
  font-family: "Yeseva One", cursive;
  text-align: center;
  border-bottom: 1px solid #000;
}

.cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}

.cart__description {
  display: flex;
  align-items: center;
}

.cart__image {
  /* Responsive Image */
  width: 100%;
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.cart__sum {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.cart__button {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c4c4c4;
  font-family: "Shanti", sans-serif;
}

/* Medium ≥768px */
@media (min-width: 768px) {
  .row {
    display: flex;
  }

  .products {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 30%;
  }

  .shopping {
    width: 30%;
  }
}
