@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Medium ≥768px */
@media (min-width: 768px) {
  .row {
    display: flex;
  }
}
